/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: var(--bg-light-img);
  --bg-color: var(--bg-light-color);
  --rec-visibility: var(--rec-visibility-none);
  --dot-visibility: var(--dot-visibility-none);
  --accent-color: var(--theme-light-color);
  --button-hover: var(--button-light-hover);
  --focus-color: var(--focus-light-color);
  --title-color: var(--light-shadow-color);
  --card-text: var(--accent-color);
  --shadow-color: var(--light-shadow-color);
  --decor-color: var(--decor-light-color);
  
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: var(--bg-light-img);
    --bg-color: var(--bg-light-color);
    --rec-visibility: var(--rec-visibility-none);
    --dot-visibility: var(--dot-visibility-none);
    --accent-color: var(--theme-light-color);
    --button-hover: var(--button-light-hover);
    --focus-color: var(--focus-light-color);
    --title-color: var(--light-shadow-color);
    --card-text: var(--accent-color);
    --shadow-color: var(--light-shadow-color);
    --decor-color: var(--decor-light-color);
  }
}